main{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}
.wares{
    display: flex;
    flex-direction: row;
}
.orderButton{
    margin-top: 3vh;
    width: 3vw;
}

.waresElement{
    border: black thin solid;
    background-color: rgb(54, 129, 129);
    margin-top: 3vh;
    text-align: center;
}